body {
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding: 0;
  }
  
  .orders_user {
    margin-top: -20px;
    padding: 40px 20px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .orders-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .order{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89c0eb;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    text-align: center;
    width: 66.64%;
  
    span:first-child {
      font-size: 18px;
      font-weight: bold;
    }
  
    span:last-child {
      margin-right: 200px; 
      font-size: 14px;
      color: #333;
    }
  }
  
  .post-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
  
    button {
      background-color: #ff5757;
      margin-top: 0px;
      margin-left: 10px;
      color: black;
      border: none;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      width: 100px;
      transition: background-color 0.3s ease;  
  
      &.edit-btn {
        background-color: #ff5757;
      }
  
      &.delete-btn {
        background-color: #ff3131;
      }
  
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  
    